# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
*.obj
#

# C# compiler-generated binaries (safe to delete)
*.exe
*.dll
*.pdb
*.dll.config
*.exe.config
*.deps.json

*.~*

# Visual Studio 2022 cache/options directory
.vs/
.vscode/
obj/
bin/
Debug/
